version: '3.9'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
      target: backend-builder
    container_name: backend
    environment:
      PORT: 8080
      HOST: 0.0.0.0
      DATABASE_URL: jdbc:postgresql://dpg-d4t2vs7gi27c73d6rkig-a.oregon-postgres.render.com:5432/careermatch_db
      DATABASE_USER: careermatch
      DATABASE_PASSWORD: v0nCq9iFG2tfjwY09fGAdrVBMGJq7nUP
    ports:
      - "8080:8080"
    depends_on:
      - frontend

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      target: frontend-builder
    container_name: frontend
    environment:
      VITE_API_URL: /api
    ports:
      - "5173:5173" # Vite dev server, если нужно
